<h1>
  <span class='h1-left'>Critical</span><span class='h1-right'>Resource</span>
</h1>
<p>It's a website for books</p>

<button>
  <%= link_to 'Product Variants', product_variants_path %>
</button>
