<h1>
  <span class='h1-left'>Critical</span><span class='h1-right'>Resource</span>
</h1>

<p>It's a website for books</p>

<button>
  <%= link_to 'Product Variants', product_variants_path %>
</button>

<div
  style="
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline;
    padding-left: 50px;
    z-index: -1;"
>
  <%= image_tag("uni-guy.png", style: 'width: 45%; margin-right: 50px;') %>
  <%= image_tag("uni-girl.png", style: 'width: 40%; margin-left: 50px;') %>
</div>
