/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  min-height: 100vh;
  overflow: auto;
}

body {
  padding: 10px;
  font-family: Papyrus, fantasy, sans-serif;
  background: linear-gradient(183deg, #b1d9cf, #f0ecb6, #f0d5b6, #b6edf0, #f2c3e1);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  -o-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;
}

h1 {
  font-size: 2.75rem;
  text-shadow: 2px 2px 2px #000000;
}

.h1-left {
  color: darkorange;
}

.h1-right {
  color: blue;
}

p {
  font-size: 1.25rem;
}

button {
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  z-index: 9999;
}

button a {
  color: black;
  font-size: 1.125rem;
  text-decoration: none;
}

table {
  border: 5px solid black;
  border-collapse: collapse;
  width: 100%;
}

table > caption {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  background-color: fuchsia;
  border-bottom: 2px solid black;
  color: white;
}

.numeric-cell {
  font-family:'Courier New', Courier, monospace;
}

.rjust-cell {
  text-align: right;
}

@-webkit-keyframes AnimationName {
  0%{background-position:78% 0%}
  50%{background-position:23% 100%}
  100%{background-position:78% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:78% 0%}
  50%{background-position:23% 100%}
  100%{background-position:78% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:78% 0%}
  50%{background-position:23% 100%}
  100%{background-position:78% 0%}
}
@keyframes AnimationName {
  0%{background-position:78% 0%}
  50%{background-position:23% 100%}
  100%{background-position:78% 0%}
}
